<h2>List of Students</h2>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Profile</th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td>{{username}}</td>
            <th><a href="/student/{{id}}" class="btn btn-dark">Profile</a></th>
        </tr>
        {{/each}}
    </tbody>
</table>